# Exemple d'environnement pour le service mo (FastAPI)
PORT=8000
NODE_ENV=development
DB_URL=postgresql://dzaster_user:dzaster_password@dzastr-db:5432/dzaster_db
SERVICE_TOKEN=change_me
AUTH_SERVICE_TOKEN=change_me
AUTH_SERVICE_URL=http://localhost:8081

